apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bank-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/AstralUniverse1/infra-ansible-cd.git
    targetRevision: main
    path: deploy/helm/bank-app
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
