apiVersion: apps/v1
kind: Deployment
metadata:
  name: bank-app-cd
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: bank-app-cd
  template:
    metadata:
      labels:
        app: bank-app-cd
    spec:
      containers:
        - name: bank-app-cd
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
